# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#Node_Modules(Angular)
/node_modules/
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
/migration-service/HELP.md
/migration-service/mvnw
/migration-service/mvnw.cmd
/api-service/HELP.md
/api-service/mvnwK
/api-service/mvnw.cmd
/webapp/.vscode/
/webapp/e2e/
/backend/migration-service/HELP.mdk
/backend/migration-service/mvnw
/backend/migration-service/mvnw.cmd
/backend/api-service/HELP.md
/backend/api-service/mvnw
/backend/api-service/mvnw.cmd
/webapp/node_modules/
/webapp/dist/
/.vscode/
