
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-indigo d-flex justify-content-between">
        <div>
          <i class="fa fa-align-justify"></i> Car List
        </div>
        <div>
          <button class="btn btn-sm btn-success" (click)="addCar()"><i class="fa fa-plus"></i> Create Car</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm text-center">
          <thead>
            <tr>
              <th>Make</th>
              <th>Name</th>
              <th>Type</th>
              <th>Model Year</th>
              <th>Color</th>
              <th>Chassis No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of data">
              <td>{{car.details.make}}</td>
              <td>{{car.details.name}}</td>
              <td>{{car.details.type}}</td>
              <td>{{car.details.modelYear}}</td>
              <td>{{car.details.color}}</td>
              <td>{{car.chassisNo}}</td>
              <td class="text-left">
                <button type="button" class="btn btn-sm btn-info ml-2 mr-2" (click)="carDetails(car.links[0].href)">Details</button>
                <button type="button" class="btn btn-sm btn-warning ml-2 mr-2" (click)="updateCar(car.links[0].href)">Update</button>
                <button type="button" class="btn btn-sm btn-danger ml-2 mr-2" (click)="deleteCar(car.links[0].href)">Delete</button>
                <button type="button" class="btn btn-sm btn-primary ml-2 mr-2" (click)="carAction(car.links[1].href, car.links[1].rel)"><i class="fa fa-plus"></i> {{car.links[1].rel==="purchaseRecord" ? "Purchase Record" : "Sell Record"}}</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
