
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-indigo d-flex justify-content-between">
        <div>
          <i class="fa fa-align-justify"></i> Car List
        </div>
        <div>
          <button class="btn btn-sm btn-success" (click)="addCar()"><i class="fa fa-plus"></i> Create Car</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm text-center">
          <thead>
            <tr>
              <th>SL.</th>
              <th>Chassis No</th>
              <th>Make</th>
              <th>Name</th>
              <th>Type</th>
              <th>Model Year</th>
              <th>Color</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of data;let i=index">
              <td>{{i+1}}</td>
              <td>{{car.chassisNo !== null ? car.chassisNo : 'N/A'}}</td>
              <td>{{car.details !== null ? car.details.make :  'N/A'}}</td>
              <td>{{car.details !== null ? car.details.name : 'N/A'}}</td>
              <td>{{car.details !== null ? car.details.type : 'N/A'}}</td>
              <td>{{car.details !== null ? car.details.modelYear : 'N/A'}}</td>
              <td>{{car.details !== null ? car.details.color : 'N/A'}}</td>
              <td class="text-left">
                <span *ngIf="car.links.length>0">
                  <button *ngIf="car.links[0].href" type="button" class="btn btn-sm btn-info ml-2 mr-2" (click)="carDetails(car.links[0].href)" ><i class="fa fa-info-circle"></i> Details</button>
                  <button *ngIf="car.links[0].href" type="button" class="btn btn-sm btn-warning ml-2 mr-2" (click)="updateCar(car.links[0].href)"><i class="fa fa-edit"></i> Update</button>
                  <button *ngIf="car.links[0].href" type="button" class="btn btn-sm btn-danger ml-2 mr-2" (click)="deleteCar(car.links[0].href)"><i class="fa fa-trash"></i> Delete</button>
                </span>
                <span *ngIf="car.links.length>1">
                  <button *ngIf="car.links[1].href" type="button" class="btn btn-sm btn-primary ml-2 mr-2" (click)="carAction(car.links[1].href, car.links[1].rel)"><i class="fa fa-plus"></i> {{car.links[1].rel==="purchaseRecord" ? "Purchase" : "Sell"}}</button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
