

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-indigo d-flex justify-content-between">
              <div>
                <i class="fa fa-edit"></i>Reset Password
              </div>
              <!-- <div>
               <button class="btn btn-sm btn-success" (click)="goCompany()"><i class="fa fa-plus"></i> Go to Company</button>
              </div> -->
            </div>
            <form  [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="newpassword">New Password</label>
                  <div class="col-md-8">
                    <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="Enter New Password(Required)" formControlName="newPassword">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="confirmPassword">Confirm Password</label>
                  <div class="col-md-8">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Enter Confirm Password(Required)" formControlName="confirmPassword">
                  </div>
                </div>
              </div>
              <div class="card-footer text-right">
                <button type="button" class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
                <button type="submit" class="btn btn-sm btn-warning ml-2"><i class="fa fa-edit"></i>&nbsp;Reset Password</button>
              </div>
            </form>
          </div>
    </div>
    <div class="col-2"></div>
</div>
