
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-indigo d-flex justify-content-between">
        <div>
          <i class="fa fa-align-justify"></i> Sell Record List
        </div>
        <div>
          <!-- <button class="btn btn-sm btn-success" (click)="createPurchase()"><i class="fa fa-plus"></i> Create Purchase</button> -->
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm text-center">
          <thead>
            <tr>
              <th>Sell Type</th>
              <th>Sell Date</th>
              <th>Chassis No</th>
              <th>Advance</th>
              <th>On Delivery</th>
              <th>After Delivery</th>
              <th>Sell Letter No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sell of sellList">
              <td>{{sell.sellType|titlecase}}</td>
              <td>{{sell.sellDate|date:'mediumDate'}}</td>
              <td>{{sell.chassisNo}}</td>
              <td>BDT. {{sell.paidAsAdvance}}</td>
              <td>BDT. {{sell.paidOnDelivery}}</td>
              <td>BDT. {{sell.paidAfterDelivery}}</td>
              <td>{{sell.purchaseLetterNo}}</td>
              <td>
                <span *ngIf="sell.links.length>0">
                  <button type="button" class="btn btn-sm btn-info ml-2 mr-2" (click)="sellDetails(sell.links[0].href)"><i class="fa fa-info-circle"></i> Details</button>
                  <button type="button" class="btn btn-sm btn-warning ml-2 mr-2" (click)="updateSell(sell.links[0].href)"><i class="fa fa-edit"></i> Update</button>
                  <button type="button" class="btn btn-sm btn-danger ml-2 mr-2" (click)="deleteSell(sell.links[0].href)"><i class="fa fa-trash"></i> Delete</button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
