<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-indigo">
        <i class="fa fa-file-text"></i><strong> Car Details</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-4 mb-0">
            <label> <strong>Chassis No</strong></label>
            <label class="form-control border-0 pl-0">{{data.chassisNo}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Name</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.name}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Make</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.make}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Type</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.type}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Model Year</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.modelYear}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Color</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.color}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Engine No</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.engineNo}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Mileage</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.mileage}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>CC</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.cc}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Transmission</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.transmission}}</label>
          </div>
          <div class="form-group col-4 mb-0">
            <label> <strong>Fuel Type</strong></label>
            <label class="form-control border-0 pl-0">{{data.details.fuelType}}</label>
          </div>
          <div class="form-group col-12 mb-0">
            <label> <strong>Options</strong></label>
            <label class="form-control border-0 pl-0" style="height: auto;">{{options}}</label>
          </div>
        </div>




        <!-- <div class="form-group row">
          <label class="col-md-3" for="make"> <strong> Make</strong></label>
          <label class="col-md-9" id="make">{{data.details.make}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-3" for="name"> <strong> Name</strong></label>
          <label class="col-md-9" id="name">{{data.details.name}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-3" for="chassisNo"> <strong> Chassis No</strong></label>
          <label class="col-md-9" id="chassisNo">{{data.chassisNo}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-3" for="type"> <strong> Type</strong></label>
          <label class="col-md-9" id="type">{{data.details.type}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-3" for="modelYear"> <strong> Model Year</strong></label>
          <label class="col-md-9" id="modelYear">{{data.details.modelYear}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-3" for="color"> <strong> Color</strong></label>
          <label class="col-md-9" id="color">{{data.details.color}}</label>
        </div> -->
        <hr>
        <div class="text-right">
          <button type="button" class="btn btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
          <button type="button" class="btn btn-warning ml-2" (click)="updateCar()"><i class="fa fa-edit"></i> Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
