
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success">
                Fund Transfer
            </div>
            <div class="card-body">
              <form action="" method="post" >
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="debit_account">Debit Account</label>
                  <div class="col-md-8">
                    <input type="number" id="debit_account" name="debit_account" class="form-control" placeholder="Debit Account">
                    <!-- <span class="help-block">Please enter no of transaction</span> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="amount">Amount</label>
                  <div class="col-md-8">
                    <input type="text" id="amount" name="amount" class="form-control" placeholder="amount">
                    <!-- <span class="help-block">Transaction Duration(in minutes)</span> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="amount_in_words">Amount in Words</label>
                  <div class="col-md-8">
                    <label id="amount_in_words"></label>
                    <!-- <span class="help-block">Transaction Duration(in minutes)</span> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="credit_account">Credit Account</label>
                  <div class="col-md-8">
                    <input type="number" id="credit_account" name="credit_account" class="form-control" placeholder="Credit Account">
                    <!-- <span class="help-block">Please enter no of transaction</span> -->
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
            </div>
          </div>
    </div>
    <div class="col-3"></div>
</div>