<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-indigo">
        <i class="fa fa-file-text"></i><strong> Sell Details</strong>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-4" for="sellType"> <strong> Sell Type</strong></label>
          <label class="col-md-8" id="sellType">{{data.sellType}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="sellType"> <strong> Sell Type</strong></label>
          <label class="col-md-8" id="sellType">{{data.sellType}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="sellDate"> <strong> Sell Date</strong></label>
          <label class="col-md-8" id="sellDate">{{data.sellDate|date:'mediumDate'}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="paidAsAdvance"> <strong> Paid As Advance</strong></label>
          <label class="col-md-8" id="paidAsAdvance">BDT. {{data.paidAsAdvance}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="paidOnDelivery"> <strong> Paid On Delivery</strong></label>
          <label class="col-md-8" id="paidOnDelivery">BDT. {{data.paidOnDelivery}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="paidAfterDelivery"> <strong> Paid After Delivery</strong></label>
          <label class="col-md-8" id="paidAfterDelivery">BDT. {{data.paidAfterDelivery}}</label>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for="purchaseLetterNo"> <strong> Purchase Letter No</strong></label>
          <label class="col-md-8" id="purchaseLetterNo">{{data.purchaseLetterNo}}</label>
        </div>
        <hr>
        <div class="text-right">
          <button type="reset" class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
          <button type="button" class="btn btn-sm btn-warning ml-2" (click)="updateSell(data._links.self.href)"><i class="fa fa-edit"></i> Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
