<div class="container row "> 
    <div class="col-md-2 bg-gradient-primary">

    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success">
                BTCL Bill Payment
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Account No</label>
                      <div class="col-md-6">
                        <select  name="Source Account" class="form-control">
                          <option value="">Select Account</option>
                          <option value="64645634">64645634</option>
                          <option value="64645634">64645634</option>
                          <option value="64645634">64645634</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="ExchangeCode-input">Exchange Code</label>
                      <div class="col-md-6">
                        <input type="text" name="exchangeCode" class="form-control" placeholder="Exchange Code">
                        <!-- <span class="help-block">This is a help text</span> -->
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="PhoneNo">Phone No</label>
                        <div class="col-md-6">
                          <input type="text" name="PhoneNo" class="form-control" placeholder="Phone No">
                          <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="lastPaymentDate-input">Last Payment Date</label>
                        <div class="col-md-6">
                            <input class="form-control"  name="date-input" placeholder="Payment Date" type="date">
                          <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="payStatus-input">Pay Status</label>
                        <div class="col-md-6">
                          <input type="text" name="paystatus" class="form-control" placeholder="Pay Status">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="payermob-input">Payer Mobile No</label>
                        <div class="col-md-6">
                          <input type="email" name="PayerMobileNo" class="form-control" placeholder="Payer Mobile No">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="OTP-input">Payer Mobile No</label>
                        <div class="col-md-6">
                          <input type="email" name="otpNumber" class="form-control" placeholder="Enter OTP">
                        </div>
                      </div>
                
                      <div class="form-group form-actions text-center">
                        <button type="submit" class="btn btn-success">Pay Bill</button>
                      </div>
                  </form>
            </div>
        
        </div>
    </div>
   
</div>

  