

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
              <i class="fa fa-plus"></i>Add Car
            </div>
            <form  [formGroup]="CarForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="chassisNo">Chassis No</label>
                    <div class="col-md-8">
                      <input type="text" id="chassisNo" name="chassisNo" class="form-control" placeholder="Enter Chassis No(Required)" formControlName="chassisNo">
                    </div>
                  </div>
                  <div formGroupName="details">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="make">Make</label>
                      <div class="col-md-8">
                        <select name="make" id="make" class="form-control" formControlName="make">
                          <option value="">Select Make</option>
                          <option *ngFor="let make of makeList" value="{{make}}">{{make|titlecase}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="name">Name</label>
                      <div class="col-md-8">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name(Required)" formControlName="name">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="type">Type</label>
                      <div class="col-md-8">
                        <select name="type" id="type" class="form-control" formControlName="type">
                          <option value="">Select Type</option>
                          <option *ngFor="let type of typeList" value="{{type}}">{{type|titlecase}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="modelYear">Model Year</label>
                      <div class="col-md-8">
                        <input type="text" id="modelYear" name="modelYear" class="form-control" placeholder="Enter Model Year(Required)" formControlName="modelYear">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="color">Color</label>
                      <div class="col-md-8">
                        <input type="text" id="color" name="color" class="form-control" placeholder="Enter Color(Required)" formControlName="color">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i>&nbsp;Add Car</button>
                <button type="reset" class="btn btn-danger ml-2"><i class="fa fa-ban"></i> Reset</button>
                <button type="button" class="btn btn-secondary ml-2" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
              </div>
            </form>
          </div>
    </div>
    <div class="col-2"></div>
</div>
