<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-indigo">
        <i class="fa fa-edit"></i> <strong>Update Car</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="updateCar" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="chassisNo"> <strong>Chassis No</strong> </label>
            <div class="col-md-9">
              <input type="text" id="chassisNo" name="chassisNo" class="form-control" placeholder="Enter Chassis No(Required)" formControlName="chassisNo">
            </div>
          </div>
          <div formGroupName="details">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="make"><strong> Make</strong> </label>
              <div class="col-md-9">
                <select name="make" id="make" class="form-control" formControlName="make">
                  <option value="">Select Make</option>
                  <option *ngFor="let make of makeList" value="{{make}}">{{make|titlecase}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name"><strong> Name</strong> </label>
              <div class="col-md-9">
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name(Required)" formControlName="name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="type"><strong> Type</strong> </label>
              <div class="col-md-9">
                <select name="type" id="type" class="form-control" formControlName="type">
                  <option value="">Select Type</option>
                  <option *ngFor="let type of typeList" value="{{type}}">{{type|titlecase}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="modelYear"><strong> Model Year</strong> </label>
              <div class="col-md-9">
                <input type="text" id="modelYear" name="modelYear" class="form-control" placeholder="Enter Model Year(Required)" formControlName="modelYear">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="color"><strong> Color</strong> </label>
              <div class="col-md-9">
                <input type="text" id="color" name="color" class="form-control" placeholder="Enter Color(Required)" formControlName="color">
              </div>
            </div>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
            <button type="submit" class="btn btn-warning ml-2"><i class="fa fa-edit"></i> Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
