// If you want to override variables do it here
@import "variables";

// Import styles
// @import "~@coreui/coreui/scss/coreui";
@import "src/scss/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

button.navbar-toggler.d-none.d-md-block {
    display: none!important;
}

.bg-red
{
  background: #F44336!important;
  color: #fff;
}
.bg-pink
{
  background: #E91E63!important;
  color: #fff;
}
.bg-purple
{
  background: #9C27B0!important;
  color: #fff;
}
.bg-deap-purple
{
  background: #673AB7!important;
  color: #fff;
}
.bg-indigo
{
  background: #3F51B5!important;
  color: #fff;
}
.bg-blue
{
  background: #2196F3!important;
  color: #fff;
}
.bg-light-blue
{
  background: #03A9F4!important;
  color: #fff;
}
.bg-cyan
{
  background: #00BCD4!important;
  color: #fff;
}
.bg-teal
{
  background: #009688!important;
  color: #fff;
}
.bg-green
{
  background: #4CAF50!important;
  color: #fff;
}
.bg-light-green
{
  background: #8BC34A!important;
  color: #fff;
}
.bg-lime
{
  background: #CDDC39!important;
  color: #000;
}
.bg-yellow
{
  background: #FFEB3B!important;
  color: #000;
}
.bg-amber
{
  background: #FFC107!important;
  color: #000;
}
.bg-orange
{
  background: #FF9800!important;
  color: #000;
}
.bg-deep-orange
{
  background: #FF5722!important;
  color: #fff;
}
.bg-brown
{
  background: #795548!important;
  color: #fff;
}
.bg-gray
{
  background: #9E9E9E!important;
  color: #fff;
}
.bg-blue-gray
{
  background: #607D8B!important;
  color: #fff;
}
